= form_for @transaction do |f|
  -if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  .field
    Who paid?
    = f.select :payer, ([["YOU (#{current_user.email})", current_user.id]] + User.without(current_user).all.collect{|u| [u.email, u.id]})

  .field
    Who participated?
    = f.select :participant, ([["YOU (#{current_user.email})", current_user.id]] + User.without(current_user).all.collect{|u| [u.email, u.id]})

  .field
    = f.label :amount
    = f.number_field :amount


  .field
    Small description (optional)
    = f.text_field :name


  .actions
    = f.submit 'Save'
