%h1 Bills history

%table{:border => 1}
  %tr
    %th Name
    %th Amount
    %th Payer
    %th Participant
    %th Date
    %th
    %th

  - @transactions.each do |transaction|
    %tr
      %td= transaction.name
      %td= transaction.amount
      %td= show_records_list transaction.payers_records
      %td= show_records_list transaction.participants_records
      %td= transaction.created_at.to_s(:long)
      %td= link_to 'Edit', edit_transaction_path(transaction)
      %td= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete

