!!!
%html
  %head
    %title Iou
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Droid+Serif"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Droid+Sans"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav#top-bar
      .border-wrapper
        #top-bar-inner
          = link_to 'New bill', new_transaction_path, class: "button button-green pull-right"
          %ul
            %li= link_to 'My Balance', dashboard_path
            %li= link_to 'All Bills', transactions_path

      / .user-menu
      /   - if user_signed_in?
      /     = current_user.email
      /     |
      /     =link_to 'logout', :destroy_user_session, :method => :delete
      /   - else
      /     =link_to 'login', :new_user_session

    #container
      %section#content
        .flash
          - if notice
            %p{:class => :notice}= notice
          - if alert
            %p{:class => :notice}= alert

        = yield
    #footer
      %h1 IOU
